* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: 'Raleway', sans-serif;
	background: #b5bbc9;
	color: #585658;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}

h1,
h2,
h4 {
	margin-bottom: 15px;
	color: #000;
	font-weight: 800;
}